.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background: #002e5d;
  border: none;
  min-height: 60px;

  .navbar-nav {
    li {
      a {
        color: #fff;
        padding-top: 20px;
      }
      a:hover {
        color: #10a2d6;
      }
    }
  }

  .navbar-brand {
    color: #fff;
    padding-top: 0;
    .logo {
      height: 55px;
    }
  }
}