#login {
  background: #f7f7f7;
  min-height: calc(100vh - 60px);

  form {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20%;
    background: #fff;

    .sign-in {
      width: 100%;
    }
    .sign-in:hover, .sign-in:focus {
      background: #002e5d;
      color: #fff;
    }

    .error {
      color: #d9534f;
    }
  }
}