body {
  background-image: linear-gradient(right, #fff 75%, #f7f7f7 75%);
  background-image: -webkit-linear-gradient(right, #fff 75%, #f7f7f7 75%);
  background-image: -moz-linear-gradient(right, #fff 75%, #f7f7f7 75%);
  background-image: -ms-linear-gradient(right, #fff 75%, #f7f7f7 75%);
}