<side-navbar></side-navbar>
<div id="books" class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <br/>
            <h3>All books</h3>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Cover picture</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="book in books.books">
                    <td>{{book.name}}</td>
                    <td><img class="cover" ngf-src="book.picture.url"></td>
                    <td>
                        <button class="btn btn-primary btn-xs" data-title="Edit" ui-sref="main.edit({id: book.id})">
                            <span class="fa fa-pencil"></span></button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-xs" data-title="Delete" ng-click="books.showDeleteModal(book.id)">
                            <span class="fa fa-trash-o"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>